extends layout

block content
	script.
		var metricFunctions = {};

	.row
		.panel.panel-info
			.panel-heading
				h3.panel-title Status
			.panel-body
				p There are currently <b>#{metrics.length} metrics</b> defined on this server:
				div(id= 'target')
				ul
					each metric in metrics
						li
							a.graph-link-metric(href='##{fnName(metric.metric)}' data-metric='#{fnName(metric.metric)}') #{metric.metric}


	each metric in metrics
		.row
			div.col-md-12
				a(name='#{fnName(metric.metric)}')
				div(id= 'container-#{metric.metric}')
					//p(style='font-size: 2em; font-weight: bold;') No data for #{metric.metric}
					script.
						metricFunctions['#{fnName(metric.metric)}'] = function() {
							graphMetric('#{contextRoot}/', '#{metric.metric}');
						};

	script.
		$('.graph-link-metric').click(function (event) {
			var metric = $(event.target).data('metric');
			metricFunctions[metric]();
		});
