extends layout

block content
  .row
    .panel.panel-info
      .panel-heading
        h3.panel-title Status
      .panel-body
        p There are currently <b>#{metrics.length} metrics</b> defined on this server:
        div(id= 'target')
        ul
          each metric in metrics
            li
              a(href=contextRoot + '/metrics/#{metric.url}') #{metric.metric}


  each metric in metrics
    .row
      div.col-md-12
        div(id= 'container-#{metric.metric}', style='width:100%; height:300px;')
          script.
            $(function () {
              graphMetric('#{contextRoot}/metrics/' + '#{metric.metric}');
            });

